.Header
  margin-bottom 10px

:deep(.el-alert)
  &__content
    align-items center
    display flex
    justify-content center
    width 100%

    svg
      height 2em
      vertical-align bottom
      width 2em

  &__title
    margin-left 50%
    transform translateX(-50%)

  &__description
    margin-bottom 0
    margin-left auto
    margin-right -10px
    margin-top 0
    padding 0
