.el-checkbox
  margin-right 10px

.el-alert
  justify-content center
  margin-left auto
  margin-right: 10px
  padding 8px
  white-space nowrap

:deep(.el-alert .el-alert__content)
  padding 0 !important
  text-align center

.el-button
  margin 0 10px